@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-dots-container {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.5;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
